.topbar{
    
    background-color: lightblue;
    text-align: center;
    font-family:monospace;
    font-size: 70px;
    border-style: solid;
    border-left-color: blue;
    border-left-width: 10px;
    border-right-color: blue;
    border-right-width: 10px;
    border-top: 0;
    border-bottom: 0;
    margin:none;
}

li a{
    
    background-color:lightblue;
    font-family: monospace;
    font-size: 30px;
    text-align:center;
}

li{
    display:inline;
    padding:100px;
}