.title{
    color:red;
    text-align: center;
    display: block;
    font-family:monospace;
    
}

.dice{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    
}
.dicechoice button{
    
    float:left;
    
    margin:10px;
    padding:6%;
    width:130px;
    
   
    font-family: monospace;
    font-size: 20px;
    
    background-color:lightcoral;
    border-style: solid;
    border-bottom: 0;
    border-top: 0;
    border-color: red;
    border-width: thick;
    line-height: 0;
}
.dicechoice button:hover{
    background-color: #d87373;
}
.results{
    font-family:monospace;
    display:flex;
    justify-content: center;
    font-size: 50px;
}

.extra results{
    font-size:inherit;
    
}

